Adafruit_Blinka==8.54.0
adafruit_circuitpython_ssd1306==2.12.19
apriltag==0.0.16
blynk_library_python==1.0.0
BlynkLib==0.2.6
mediapipe==0.10.18
numpy==1.24.2
object_detection==0.0.3
opencv_contrib_python==4.11.0.86
opencv_python==4.11.0.86
picamera2==0.3.25
Pillow==9.4.0
Pillow==11.1.0
RPi.GPIO==0.7.1
rpi_lgpio==0.6
smbus==1.1.post2
tensorflow==2.18.0
tflite_runtime==2.14.0
