Adafruit_Blinka==8.54.0
adafruit_circuitpython_ssd1306==2.12.19
git+https://github.com/vshymanskyy/blynk-library-python.git
mediapipe==0.10.18
numpy
opencv_contrib_python==4.11.0.86
Pillow==11.1.0
rpi_lgpio==0.6
smbus==1.1.post2
tensorflow==2.18.0
tflite_runtime==2.14.0
