[Unit]
Description=Battery Monitoring Script

[Service]
User=raspberry
WorkingDirectory=/home/raspberry/battery
ExecStart=/usr/bin/python /home/raspberry/battery/Battery.py
StandardOutput=file:/home/raspberry/battery/battery_log.txt
StandardError=file:/home/raspberry/battery/battery_error_log.txt
Restart=always

[Install]
WantedBy=multi-user.target
