[Unit]
Description=Mobile Robot Code Updater Service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=root
Group=root
WorkingDirectory=/home/pi/Desktop/MobileRobot
ExecStart=/usr/bin/python3 /home/pi/Desktop/MobileRobot/RepoUpdater/updater.py
Environment=HOME=/home/pi
Environment=USER=pi
Environment=SUDO_USER=pi
StandardOutput=journal
StandardError=journal
TimeoutStartSec=300
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target